.article{
/*     border: 1px solid blue;
    padding: 2em;
    height: 100px;

    overflow: hidden;
    overflow: auto;
    overflow: scroll; */

}

.img{
    width: 50%;
    float: left;
    margin-right: 0.5em;
}

.article{
    border: 1px solid blue;
    overflow: hidden;
}