.slide{
    height: 300px;
    background-color: darkgray; 
    line-height: 6em;
    font-size: 3em;
    text-align: center;
}
.menu{
    background-color: darkcyan; 
    padding: 0.5em;
    font-size: 3em;
    text-align: center;

    position: sticky;
    top: 0;
    
}

.title{
    text-align: center;
    margin: 0;
}